<%= form_for Task.new, url: user_tasks_path(@user.id), id:"create_task", remote: true do |form| %>

<div class="text-field form-group">
    <%= form.select(:category_id, @user.categories.all.collect {|u| [u.category_title, u.id]}, :prompt => 'Select') %>
</div>


<div class="text-field form-group">
	<p>Date:
	<%= form.date_field :start_date, placeholder: 'Date', id:"start_date_form"%></p>
</div>
<div class="text-field form-group">
    <%= form.text_field :title, placeholder: 'Title', class: "form-control", id:"title_form"%>
</div>

<div class="text-field form-group">
    <%= form.text_area :details, :rows => 8, style: 'width:100%;', placeholder: 'Details', class: "form-control", id:"details_form"%>
</div>

<div class="form-group">
  <%= form.submit "Submit", class: "text-field btn-submit form-control" %>
</div> 

<% end %>