<div class="container">
	<%= link_to 'Log out',users_logout_path, method: :delete %>

	<br>
	<h3>Hi, <%= @user.name %>.</h3>
	
	<div class="row">
		<div class="col-md-6">
			<h3>Things to do</h3>
			<h5>Today Date: <%= DateTime.now.strftime('%d %B %Y') %></h5>
			<div class="table-container">
				<table class="task-list">
					<tr class="task-list-title">
						<th class="task-list-item col-lg-3">Title </th>
						<th class="task-list-item col-lg-3">Details</th>
						<th class="task-list-item col-lg-3">Completed</th>
					</tr>
			
					<% @today_task.each do |d| %>
					<tr class="task-list-details">
					
						<td class="task-list-details col-lg-3"><%= d.title %></td>
						<td class="task-list-details col-lg-3"><%= d.details %></td>
						
					
						<%=form_for :task, url: user_task_path(d.user_id, d.id), method: :patch do |form| %>	

						<td class="task-list-details col-lg-3"><%= form.check_box :status, id:"check" %></td>
						<% end %>	

					</tr>
					<% end  %>
				</table>	
			</div>	
		</div>

		<div class="col-md-6">
			
			<h3>Create a Todo</h3>
			<%= render partial: "/tasks/form" %> 

		</div>

	</div>
	
	<div class="table-container">
		<h3>ToDo List</h3>
		<table class="task-list" id="task_list">
			<tr class="task-list-title row">
				<th class="task-list-item col-lg-3">Date </th>
				<th class="task-list-item col-lg-3">Title </th>
				<th class="task-list-item col-lg-3">Details</th>

			</tr>
		
			
			<%= render @tasks %>
			
			
		</table>	
	</div>	


</div>